@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
    max-width: 1920px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p, h3 {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .logo {
    position: absolute;
    top: 15px;
    left: 17px;
  }

  nav {
    display: flex;
    font-weight: 500;
    text-align: center;
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 100%;
    flex-direction: column-reverse;
  }

  nav a:active {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
  }

  nav div {
    display: flex;
    padding-bottom: 1em;
  }

  nav div a {
    width: 50%;
    color: lightgray;
  }

  nav div a:first-child {
    width: 50%;
    color: #0065FC;
  }

  nav:hover {
    color: #0065FC;
  }

  .filterbtn:hover {
    color: #0065FC;
    border-bottom: 2px #0065FC;
  }

  .signup {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
    justify-content: flex-end;
  }

  .section1 {
    max-width: 600px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .introtitle {
    display: flex;
    flex-direction: column;
  }

  .searchzone {
    display: flex;
    flex-direction: row;
  }

  .searchzone button p {
    display: none;
  }

  .searchzone button {
    background-color: #0065FC;
    border:none;
    color: white;
    padding: 1rem 1.25rem;
    border-radius: 1rem 1rem 1rem 1rem ;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
  }

  .mapIcon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
  }
  
  .search {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 1 1.25rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    display: flex;
    text-align: center;
  }

  .seachbutton {
    background-color: #0065FC;
    color: white;
    padding: 1rem 1.25rem;
    border-radius: 0 1rem 1rem 0 ;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
  }

  .filterbtn {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
  }

  .filterbtn p {
    padding: 0 1em;
  }

  .filterbtn i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 25px;
    color: #0065FC;
    height: 40px;
    width: 40px;
    margin-left: -8px;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .info p {
    max-width: 80%;
  }

  .bulle {
    border: 1px solid lightgray;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .infoi {
    color: #0065FC;
  }
  
  #hebergements {
    display: flex;
    flex-direction:column-reverse;
  }

  .popular h2 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  .hosting {
    padding: 15px;
  }
  
  .hostingMainCardGradeIcon {
    color: lightgray;
  }

  .popular {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    flex-direction: column;
    padding: 15px;
  }

  .activity {
  background-color: white;
  padding: 1em 0;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  }

  footer {
    display: flex;
    background-color: #F2F2F2;
    flex-direction: column;
  }

  .containActivity {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 0.5em;
    width: 97%;
  }

  .containHost {
    width: 95%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px lightgray;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .containHost img {
    width: 97%;
    margin: 5px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }

  .containPopular {
    width: 95%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px lightgray;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .containPopular a {
    display: flex;
    
  }

  .containPopular img {
   width: 150px;
   height: 150px;
   margin: 5px;
   object-fit: cover;
   border-radius: 1rem 0 0 1rem;
  }
  
  .containText {
    padding: 0.5em;
  }

  .containText div {
    margin-top: 3.5em;
  }

  .containHost a > div {
    padding: 1em;
  }

  .stars {
    color: #0065FC;
  }

  .containActivity img {
    width: 100%;
    height: 150px;
    border-radius: 1em 1em 0 0;
    object-fit: cover;

  }

  .containActivity h3 {
    margin: 20px;
  }

  .containFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
  }

  .containFooter a {
    margin-top: 15px;
    width: 100%;
  }

  .containFooter h3 {
    margin-top: 45px;
  }

  .propos {
    display: flex;
    flex-direction: column;
  }

  .heberg {
    display: flex;
    flex-direction: column;
  }

  .assist {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 430px) and (max-width: 1023px) {
    header img {
      position: initial;
    }

    header { 
      flex-direction: row;
      align-items: baseline;
    }

    nav div a:first-child {
      width: auto;
    }

    nav div a {
      width: auto;
      padding: 0;
    }

    nav {
      width: 100%;
      border: none;
      align-items: baseline;
      justify-content: flex-end;
      flex-direction: row;
    }

    nav a {
      margin: 15px 50px;
    }

    .signup {
      padding: 0;
    }
    
    .section1 {
      margin: 0;
      max-width: 100%;
    }
    
    .containFooter {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }

    .containFooter h3 {
      margin-top: 0;
    }

    .propos {
      display: flex;
      flex-direction: column;
    }

    .heberg {
      display: flex;
      flex-direction: column;
    }

    .assist {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
    }

  }

  @media screen and (min-width: 1024px) {
    header img {
      position: initial;
    }

    header { 
      flex-direction: row;
      align-items: baseline;
    }

    filter {
      display:flex;
    }

    nav div a:first-child {
      width: auto;
    }

    nav div a {
      width: auto;
      padding: 0;
    }

    nav {
      width: 100%;
      border: none;
      align-items: baseline;
      justify-content: flex-end;
      flex-direction: row;
    }

    nav a {
      margin: 15px 50px;
    }

    .signup {
      padding: 0;
    }

    .section1 {
      margin: 0;
      max-width: 100%;
    }

    .filter {
      flex-direction: row;
    }

    #hebergements {
      flex-direction: row;
      justify-content: space-between;
    }

    .host {
      display: flex;
      flex-wrap: wrap;
    }

    .hosting {
      display: flex;
      width: 55%;
      flex-direction: column;
      background-color: #F2F2F2;
      border-radius: 1.5em;
    }

    .containHost {
      width: 30%;
    }

    .hosting img {
      width: 97%;
    }

    .popular {
      width: 35%;
    }

    .popular img {
      width: 97%;
    }

    .containPopular {
      flex-direction: row;
    }

    .activ {
      display: flex;
      flex-wrap: wrap;
    }

    .activ>.containActivity {
      height: 400px;
    }

    .activity {
      flex-direction: column;
    }

    .containActivity {
      width: 25%;
      margin: 0;
    }

    .containActivity img {
      height: 250px;
    }

    .growth {
      width: 25%;
    }

    .growth .containActivity {
      width: 100%;
    }

    .growth .containActivity img {
      height: 150px;
    }

    .containFooter {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }

    .containFooter h3 {
      margin-top: 0;
    }

    .propos {
      display: flex;
      flex-direction: column;
    }

    .heberg {
      display: flex;
      flex-direction: column;
    }

    .assist {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
    }

  }